<html>
<head>
<title>Ingreso Receta</title>
<link rel="stylesheet" type="text/css" href="../css/estiloReceta.css" title="Receta" media="all" />
</head>
<body>
<header>
  <h1>Master Chef</h1>
  <h2>Registro de receta</h2>
</header>
<nav>
    <p><a href="#">Inicio</a></p>
    <p><a href="#">Registro Receta</a></p>
    <p><a href="#">Contactanos</a></p>
</nav>
<section>
  <h1>Elegir una operacion</h1>
  <h2>SUMA</h2>
    <article>
            SUMA DE NUMEROS 
            <br/><br/>
            Numero Uno: <input type="text" name="NumeroUno" id="NumeroUno" value="0"/>
            <br>
            Numero Dos: <input type="text" name="NumeroDos" id="NumeroDos" value="0"/>
            <br>
            <input type="button" name="Suma" id="Suma" value="SUMA" onclick="SumarNumeros()"/>
            <p id="SumaTotal">   </p>
    </article>
    <br/><br/>
</section>
<aside>
   
</aside>

  </body>
  </html>

    
