<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ingreso Receta</title>
        <link rel="stylesheet" type="text/css" href="../css/estiloReceta.css" media="all" />        
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.9.11/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.9.11/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.9.11/demo/demo.css">
    <script type="text/javascript" src="../jquery-easyui-1.9.11/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.9.11/jquery.easyui.min.js"></script>
  
    </head>
    <body>
    <header>
      <h1>Master Chef</h1>
      <h2>Registro de receta</h2>
    </header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Registro Receta</a>
        <a href="#">Contactanos</a>
    </nav>
    <section>
        <article>
    <div style="margin:20px 0;"></div>
    <div class="easyui-panel" title="RECETA" style="width:100%;max-width:400px;padding:30px 60px;">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="IDENTIFICADOR:" labelPosition="top" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="TITULO:" labelPosition="top" style="width:100%;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="INGREDIENTES:" labelPosition="top" style="width:100%;">
        </div>
        <div style="margin:20px 0;"></div>
        <div class="easyui-panel" style="width:100%;max-width:400px;padding:30px 60px;">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" label="DESCRIPCION:" labelPosition="top" multiline="true" value="Redactar la receta" style="width:100%;height:120px">
            </div>            
        </div>
      <br>
        <div style="margin:20px 0"></div>
        <div class="easyui-panel" style="width:100%;max-width:400px;padding:30px 60px;">
            <div style="margin-bottom:20px">
                <select class="easyui-combobox" name="categoria" label="CATEGORIA:" labelPosition="top" style="width:100%;">
                    <option value="Entrada">Entrada</option>
                    <option value="Plato Fuerte">Plato Fuerte</option>
                    <option value="Postre">Postre</option>                
                </select>
            </div>
        </div>
        <br>
        <div>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:100%;height:32px">REGISTRAR</a>
        </div>
    </div>
                
     
        </article>
        <br/><br/>
    </section>
    <aside>
       
    </aside>
    
      </body>
      </html>